<!-- <p id="notice"><%= notice %></p>
 -->
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="todo-list-show">
      <h1><%= @todo_list.title %></h1>
        <div class="todo-item-form">
          <%= render partial: 'todo_items/newform', locals: { params: params } %>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Task Name:</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody class="todo-list-items">
            <% @todo_items.each do |todo_item| %>
              <tr>
                <td>
                  <% if todo_item.complete %>
                    <%= link_to '', todo_item, method: :put, class: "glyphicon glyphicon-check", 
                      form: { todo_item: { todo_list_id: params[:id], complete: false } }  %>
                  <% else %>
                    <%= link_to '', todo_item, method: :put, class: "glyphicon glyphicon-unchecked", form: { todo_item: { todo_list_id: params[:id], complete: true } } %>
                  <% end %>
                </td>
                <td><%= todo_item.task_name %></td>
                <td><%= link_to '', todo_item, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove pull-right", todo_list_id: params[:id] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>


      <!-- <%= link_to 'Add New Task', new_todo_item_path(todo_list_id: params[:id]) %> -->
      <div class="text-right">
        <%= link_to 'Edit', edit_todo_list_path(@todo_list), class: "btn btn-default btn-xs" %> 
        <%= link_to 'Back', todo_lists_path, class: "btn btn-default btn-xs" %>
      </div>
    </div>
  </div>
</div>